<button class="menuContainer" (click)="toggle()">
    <img src="../../assets/menu.png" class="menuIcon" /><span class="menuTitle">{{this.gameName}}</span> 
</button>
<div [ngClass]="cssClass">
    <span class="menuLink" *ngFor="let id of this.ids">
        <a routerLink="/game/{{id}}">{{this.name(id)}}</a>
    </span>
</div>
<router-outlet></router-outlet>
