.menuContainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* background-color: #eee; */
    /* color: #444; */
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 7px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
 }

 .menuTitle {
    padding-left: 7px;
    padding-top: 2px;
}

.menuIcon {
    vertical-align: middle;
}

 .active, .accordion:hover {
    background-color: #ccc;
}
  
.menuPanel {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eee;
    /* display: none; */
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;

    border-style: solid;
    border-color: #fffff8;
    border-width: thin;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.menuLink {
    padding-right: 20px;
}

a {
    text-decoration: none;
}

a:hover {
  color: navy;
}
