<ng-container *ngIf="this.game">
    <!-- <h1>{{this.game.name}}</h1> -->
    <div class="game">
    <app-stock></app-stock>
    <app-pilearea [pileType]="pileType.Foundation"></app-pilearea>
    <app-pilearea [pileType]="pileType.Tableau"></app-pilearea>
    </div>
</ng-container>
