.game {
    background-color: green;
    padding: 10px;
}
.testBack {
    background-color: #AFBCCF;
    background-image: url("../../assets/back/waste.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 72px;
    height: 96px;
    padding: 3px;
}