<div *ngIf="this.pile" class="pile {{cssClass}}" [ngStyle]="this.cssStyle" (click)="pileClick()">
    <ng-container *ngIf="this.cards">
        <app-card *ngFor="let currCard of this.cards" [card]="currCard" [ngStyle]="currCard.cssStyle"></app-card>
    </ng-container>
</div>
