.pile {
    width: 72px;
    height: 96px;
    display: inline-block;
    padding: 3px;
    margin-right: 10px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.tableau {
    background-color: #8FBC8B;
}
.foundation {
    background-color: #AFBCCF;
}
.stock {
    background-color: #ADD8E6;
}
.waste {
    background-color: #E8D7D7;
}